body, html{
	margin:0;
	overflow-x:hidden;
}

*{
	box-sizing:border-box;
}

.main-content{
	padding:0;
}

.user-dp{
	height:100px;
	width:100px;

}

.user-qr{
	height:100px;
	width:100px;
}

.activity-bubble{
	height:150px;
	width:150px;
}

#hello-div{
	/*border:solid black 1px;*/
	margin-top:30px;
	width:100%;
	min-height:90vh;
}

#things-to-do{
	margin-top:40px;
	overflow:auto;
	position:relative;
	background: url(../images/bg1.jpg);
	color:white;
	width:100%;
	background-attachment:fixed;
	background--blend-mode:luminosity;

}

#things-to-do:before {
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;

  display: block;
  background-image: url('../images/bg1.jpg');
  background-size:cover;
  width: 100%;
  height: 100%;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

.divider{
	border-bottom:solid #D5D5D5 1px;
	width:90%;
	margin:0 auto;
}

a{
	text-decoration:none;
	color:black;
}

a:hover{
	text-decoration:none;
	color:black;
}