<nav class="navbar navbar-fixed-top">
	<div class="container-fluid">
	<div class="navbar-header">
	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar" style="background:#0080FF;"></span>
        <span class="icon-bar" style="background:#0080FF;"></span>
        <span class="icon-bar" style="background:#0080FF;"></span>
      </button>
     <a class="navbar-brand" style="color:#0080FF">EVENTO</a>
    </div>


		<div class="collapse navbar-collapse" id="nav1">
		<ul id="nav-menu" class="nav navbar-nav">

				<li><a href="events-dashboard.php"><div class="menu-item">My Events</div></a></li>
				<li><a href="participant-home.php"><div class="menu-item">My Participants</div></a></li>
				<li><a href="myprofile-org.php"><div class="menu-item">My Profile</div></a></li>
			</ul>
		</div>
	</div>

</nav>


